<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAIN</title>
    <link th:href="@{/board.css}" rel="stylesheet">
</head>
<body>
<!--<div class="nav">-->
<!--    <a href="board.html"><h1>🏡</h1></a>-->
<!--    <button type="submit">로그아웃</button>-->

<!--    <h1>여기서 우리는 소통해요</h1>-->

<!--    <form method="post">-->
<!--        <input name="searchPost" style="display:inline">-->
<!--        <button type="submit">검색</button>-->
<!--    </form>-->
<!--</div>-->

<div th:replace="~{ import/nav.html::navbar}"></div>

<div class="mainBoard">
    <h2 th:text="${boards.get(0).getBoardTitle()}">기본 게시판 제목</h2>
    <h4 th:text="${boards.get(0).getBoardIntroduce()}">기본 게시판 설명</h4>

</div>

<form action="/writePost">
    <button type="submit">글쓰기</button>
</form>



<div class="boardList">
    <h3 class="listTitle">게시판 목록</h3>
    <ul class="boards" th:each="roof : ${boards}">
        <li th:text="${roof.getBoardTitle()}"> 타이틀 </li>
    </ul>
</div>
<form action="/create" method="get">
    <button>게시판 추가하기</button>
</form>


</body>
</html>