<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CREATE</title>
    <link th:href="@{/board.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{ import/nav.html::navbar}"></div>
    <form action="/createBoard" method="post">
        <h4>게시판 제목(30자 이내) : </h4>
        <input name="boardTitle">
        <h4>게시판 소개(100자 이내) : </h4>
        <input name="boardIntro">
        <button type="submit" style="display:block">게시판 개설하기</button>
    </form>
</body>
</html>