<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAIN</title>
    <link th:href="@{/board.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{ import/nav.html::navbar}"></div>

<div class="mainBoard">
    <h2 th:text="${selectBoard.get().getBoardTitle()}">기본 게시판 제목</h2>
    <h4 th:text="${selectBoard.get().getBoardIntroduce()}">기본 게시판 설명</h4>
</div>

<form action="/writePost">
    <button type="submit">글쓰기</button>
</form>



<div class="boardList">
    <h3 class="listTitle">게시판 목록</h3>
    <ul class="boards" th:each="roof : ${boards}">
        <a th:href="@{'/board/'+${roof.getBoardId}}"><li th:text="${roof.getBoardTitle()}"> 타이틀 </li></a>
    </ul>
</div>
<form action="/create" method="get">
    <button>게시판 추가하기</button>
</form>


</body>
</html>