/* createBoard.html 전용 CSS */
body {
    font-family: Arial, sans-serif;
    padding-top: 60px; /* navbar와 내용물이 겹치지 않도록 padding-top 조정 */
    background-color: #f5f5f5; /* 배경색 설정 */
}

/*a#boardList {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px; *//* 목록으로 링크와 폼 사이의 간격 *//*
    display: inline-block; *//* 링크를 inline-block으로 설정하여 margin-bottom 적용 *//*
}*/

form#createBoardForm {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 폼에 그림자 효과 추가 */
    border-radius: 8px; /* 폼 모서리 둥글게 */
}

h4 {
    margin-bottom: 10px; /* 제목과 인풋 사이의 간격 */
}

input[name="boardTitle"], input[name="boardIntro"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* 인풋 요소들 사이의 간격 */
    border: 1px solid #ccc;
    border-radius: 4px; /* 인풋 모서리 둥글게 */
}

button#create {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#create:hover {
    background-color: #0056b3; /* 버튼 호버 시 색상 변경 */
}
