@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    background-repeat: no-repeat;
    background-image : linear-gradient(rgb(89,208,255),rgb(255,255,255));
    font-family : 'Montserrat';
}