/* 게시판 수정 페이지 스타일 */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f4f4f4; /* 배경색 */
}
.updateBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px; /* navbar 아래에 내용이 보이도록 padding-top 조정 */
    margin: 0 auto;
    max-width: 600px; /* 적절한 최대 너비 설정 */
}

.updateBoard a {
    color: #007bff; /* 링크 색상, navbar와 일치 */
    text-decoration: none;
    margin-bottom: 20px; /* 하단 폼과의 여백 */
}

.updateBoard form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.updateBoard input[type="text"] {
    margin: 10px 0; /* 상하 여백 */
    padding: 10px; /* 입력 편의성을 위한 패딩 */
    border: 1px solid #ccc; /* 경계선 스타일 */
    border-radius: 5px; /* 경계선 둥글기 */
}

.updateBoard button {
    background-color: #007bff; /* 버튼 색상, navbar와 일치 */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* 입력 필드와의 여백 */
}

.updateBoard button:hover {
    background-color: #0056b3; /* 버튼 호버 색상, navbar와 일치 */
}
