<div class="nav" th:fragment="navbar">
    <a th:href="@{'/board/' + ${boards.get(0).getBoardId}}" class="logo"><h1>🏡</h1></a>
    <form method="post" action="/logout" sec:authorize="isAuthenticated()">
        <button type="submit">로그아웃</button>
    </form>


    <h1>여기서 우리는 소통해요</h1>

    <span sec:authorize="isAuthenticated()">
        <h5 style="display:inline">[</h5>
        <h5 sec:authentication="name" style="display:inline;"></h5>
        <h5 style="display:inline">&nbsp;님 환영합니다!]&nbsp;</h5>
    </span>

    <form method="post">
        <input name="searchPost" style="display:inline">
        <button type="submit">검색</button>
    </form>
</div>