<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DETAIL</title>
    <link th:href="@{/navbar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{import/nav.html::navbar}"></div>

<div>
<a th:href="@{'/board/' + ${posts.getBoard().getBoardId()}}" style="display:block">게시글 목록으로</a>


<label>작성자 :
<h4 style="display:inline" th:text="${posts.getWriter()}">작성자</h4></label>

<label style="display:block">제목 :
    <h4 style="display:inline" th:text="${posts.getPostTitle()}">내용</h4></label>

<label style="display:block">내용 :
<h4 style="display:inline" th:text="${posts.getPostContents()}">내용</h4></label>
</div>


<div>
    <ul th:each="commentRoof : ${comments}" style="list-style:none;">
        <h4 style="display:inline" th:text="${commentRoof.getWriter()}+' : '">작성자</h4>
        <li th:text="${commentRoof.getCommentContents()}" style="display:inline" >내용</li>

        <div style="display:inline">
            <a th:href="@{'/update/comment/' + ${commentRoof.getId()}}" th:if="${commentRoof.getWriter() == #authentication.name}" sec:authorize="isAuthenticated()">댓글 수정</a>
        </div>
    </ul>
</div>



<div>
<form action="/createComment" method="post">
    <input name="postId" th:value="${posts.getId()}" style="display:none">
    <input name="commentContents" placeholder="댓글 내용을 입력하세요">
    <button type="submit">댓글쓰기</button>
</form>
</div>



<div th:if="${posts.getWriter() == #authentication.name}" sec:authorize="isAuthenticated()">
<a th:href="@{'/update/post/' + ${posts.getId()}}" >글 수정하기</a>
<button class="btn" onclick="confirmDelete()" >글 삭제하기</button>
</div>

<script>

    function confirmDelete() {
        var boardId = [[${posts.getBoard().getBoardId()}]];

        // 사용자에게 확인을 요청하는 대화 상자를 띄웁니다.
        var result = confirm("정말 게시글을 삭제하시겠습니까?");
        if (result) {
            // 사용자가 'OK'를 클릭했다면, 삭제 요청을 보냅니다.
            fetch('/deletePost?id=[[${posts.getId()}]]', {method: 'DELETE'})
                .then(r => r.text())
                .then(() => {
                   window.location.href = '/board/' + boardId;
                })
                .catch(error => console.error('Error:', error)); // 오류 처리
        }
        // 사용자가 '취소'를 클릭했다면, 아무 것도 하지 않습니다.
    }
</script>
</body>
</html>