<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HELLO</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
    <h2>댕스토리</h2>
    <h4>우리와 친구들의 작은 소통공간</h4>
    <img src="dog.png" width="300px" height="300px">

    <div th:if="${param.error}">
        <h4>아이디나 비번 틀렸음</h4>
    </div>

    <div>
        <form action="/login" method="post">
            <h4 style="display:inline">아이디 : </h4>
            <input name = "username" style="partyplace">
            <h4 style="display:inline">비밀번호 : </h4>
            <input name = "password" type="password">
            <button type="submit">로그인</button>
        </form>
        <a href="/register">아직 회원이 아니신가요?</a>
    </div>
</body>
</html>